@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

/*---Media Queries --*/
@media (max-width: 992px) {

  }
@media (max-width: 768px) {
  
}
@media (max-width: 576px) {
  
}


/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

nav {
  position: absolute;
  top: 5%;
  left: 1%;
  align-items: center;
  font-family: 'Poppins', sans-serif;
}
a {
  color: black;
  text-align: center;
  text-decoration: none;
  width: 150px;
  padding: 1em 0;
  display: inline-block;
  font-weight: 800;
  transition: all .4s ease-in-out;
  text-shadow: white 1px 0 10px;
  text-shadow: 1px 2px white;
}

.line {
  width: 120px;
  height: 3px;
  background-color: #FFF;
  transition: all .4s ease-in-out;
}
.logo {
  color: lightgray;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-size: 13px;
}
a:nth-child(2):hover ~ .line { 
  transform: translate(125px);
  transition: all .4s ease-in-out;
  background-color: tomato;
}
a:nth-child(2):hover {
  color: tomato;
}
a:nth-child(3):hover ~ .line { 
  transform: translate(250px);
  transition: all .4s ease-in-out;
  background-color: yellow;
}
a:nth-child(3):hover {
  color: yellow;
}
a:nth-child(4):hover ~ .line { 
  transform: translate(375px);
  transition: all .4s ease-in-out;
  background-color: skyblue;
}
a:nth-child(4):hover {
  color: skyblue;
}
a:nth-child(5):hover ~ .line { 
  transform: translate(500px);
  transition: all .4s ease-in-out;
  background-color: pink;
}
a:nth-child(5):hover {
  color: pink;
}
  body, html {
    height: 100%;
} 
.test {
  background-color: red;

}

.background-pic {
  background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(milkyway.jpeg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.background-pic-aboutpage {
  background-image: url(marble.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.name {
  font-size: 110px;
  padding-top: 20%;
  padding-top: 10%;
  border-bottom: 2px solid black;
  padding-bottom: 5px;
  font-family: 'Snell Roundhand', cursive;
  color: white; 
  text-shadow: 5px 5px black;
  filter: brightness(200%);
}
.about-me-header {
 /* font-size: 50px;
  padding-top: 10%;
  padding-top: 72%;
  border-bottom: 2px solid black;
  padding-bottom: 5px;
  font-family: 'Helvetica', sans-serif; 
  color: black; 
  text-shadow: 0px 0px white;
  position: relative;
  overflow: hidden; */
  font-family: 'Snell Roundhand', cursive; 
  font-size: 50px;
  margin-top: 10px;

}
.text-writing {
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  display: block;
}

.tamu-sign {
  width: 190px;
  height: 50px;
  padding-bottom: 10px;
  box-shadow: 0 15px 30 px rgba(0,0,0,.5);
}
 .image-headshot { 
    padding-bottom: 0px;
    padding-top: 10px;
    box-shadow: -20px 20px 10px rgba(0,0,0,.3);
    font-size: 1.5rem;
    position: relative;
    margin: auto;
    display: block;
  
    
} 


.backtext {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-variant: small-caps;
  font-style: oblique;
  font-size: 40px;
  padding-top: 10px;
  color: maroon;
  font-family: 'Helvetica', sans-serif;
  margin: 0;
  text-shadow: black 5px 0 10px;
}

#fixed {
  background-image: url('img/mac.png');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
} 
body {
  padding: 0;
  margin: 0;
  text-align: center;
}
footer {
  background: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 900;
  font-variant: small-caps;
  font-style: oblique;
  font-size: 30px;
  padding-top: 5px;
  color: maroon;
  font-family: 'Helvetica', sans-serif;
  margin: 0;
  text-shadow: black 5px 0 10px;
}
.middle {
  background: white;
  position: absolute;
  transform: translateY(0%);
  width: 100%;
  text-align: center;
}
.btn {
  display: inline-block;
  width: 60px;
  height: 60px;
  background: lightgrey;
  margin: 10px;
  border-radius: 30%;
  box-shadow: 0 5x 15px -5px #00000070;
  color: #3498db;
  overflow: hidden;
  position: relative;
}
.btn i{
  line-height: 90px;
  font-size: 50px;
  transition: 0.2s linear;
}
.btn:hover i{
  transform: scale(1.5);
  color: #f1f1f1;
}
.btn::before{
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background: #3498db;
  transform: rotate(45deg);
  left: -110%;
  top: 90%; 
}
.btn:hover::before {
  animation: aaa 0.7s 1;
  top: -10%;
  left: 10%;
}
.carousel {
  position: relative;
  height: 580px;
  width: 80%;
  margin: 10px auto;
  padding-top: 110px;
}
.carousel__images {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.carousel__track-container {
  /* background: lightpink; */
  padding: 10px;
  height: 100%;
  position: relative; 
  overflow: hidden;
}
.carousel__track {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  height: 100%;
  transition: transform 250ms ease-in;
}
.carousel__slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%
}
.carousel__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,.3) ; 
  border: 0;
  cursor: pointer;
}
.carousel__button--left {
  left: -25px;
}
.carousel__button--right {
  right: -30px;
}
.carousel__button pictures {
  width: 12px;
}
.carousel__nav {
 /* background: lightblue; */
  display: flex;
  justify-content: center;
  padding: 10px 0;
}
.carousel__indicator {
  border: 0;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background: rgba(0,0,0,.3);
  margin: 0 10px;
  cursor: pointer;
}
.carousel__indicator.current-slide {
  background: rgba(0,0,0,.75);
}
.is-hidden { display: none; }
@keyframes aaa {
  0% {
    left: -110%;
    top: 90%;
  } 50% {
    left: 10%;
    top: -30%;
  } 100%{
    top: -10%;
    left: -10%
  }
}
h1 {
  color: black;
  font-weight: 500;
  margin-top: 125px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
  line-height: 23px;
}
* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: Arial;
}
/* .main {
  perspective: 1000px;
} */

/* involvement cards */
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
::after, ::before {
  box-sizing: border-box;
}
div {
  display: block;
}
body {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.cards {
  width: 45%;
  background: white;
  margin: 30px;
  box-shadow: 2px 2px 10px black;
  border-radius: 5px;
  position: relative;
  display: inline-block;
  margin-left: 200px;
} 
.cards2 {
  width: 45%;
  background: white;
  margin: 30px;
  box-shadow: 2px 2px 10px black;
  border-radius: 5px;
  position: relative;
  display: inline-block;
} 
.image img{
  width: 100%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  backface-visibility: hidden;
}
.title {
  text-align: center;
  padding-bottom: 40px;
}
.title2 {
  text-align: center;
  padding-bottom: 40px;
}
.card-title {
  font-family: apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-weight: bold;
  font-size: 2rem;
  padding-top: -150px;
  position: relative;
}
.card-title2 {
  font-family: apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-weight: bold;
  font-size: 2rem;
  padding-top: -150px;
  position: relative;
}
.card-subtitle {
  padding-top: 15px;
  font-size: 1.5rem;
  position: relative;
  font-weight: 500px;
}
.card-subtitle2 {
  padding-top: 15px;
  font-size: 1.5rem;
  position: relative;
  font-weight: 500px;
}
.card-text {
  padding-top: 10px;
  font-size: 1.5rem;
}
.card-text2 {
  padding-top: 10px;
  font-size: 1.5rem;
}


.button-involvement {
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: white;
  border: 1px solid black;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
}
button {
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: white;
  border: 1px solid black;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  margin-left: 110px;
}
button:hover{
  background-color: maroon;
  color: white;
  transition: .5s;
  position: relative;
}
.centered {
  margin-left: 150px;
}
/* modal styling */
.modal-title {
  font-family: apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 1.8rem;
  padding-top: 15px;
}

/* this is code for timeline from online */

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-size: 60.5%;
}

body {
  font-size: 1.4rem;
  font-family: "Source Sans Pro", sans-serif;
  color: #383838;
  background-color: #f8f8f8;
}

a {
  text-decoration: none;
}

/* -------------------------------- 

Main Components 

-------------------------------- */
.cd-horizontal-timeline {
  opacity: 0;
  margin: 2em auto;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.cd-horizontal-timeline::before {
  /* never visible - this is used in jQuery to check the current MQ */
  content: 'mobile';
  display: none;
}
.cd-horizontal-timeline.loaded {
  /* show the timeline after events position has been set (using JavaScript) */
  opacity: 1;
}
.cd-horizontal-timeline .timeline {
  position: relative;
  height: 150px;
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
}
.cd-horizontal-timeline .events-wrapper {
  position: relative;
  height: 100%;
  margin: 0 40px;
  overflow: hidden;
}
.cd-horizontal-timeline .events-wrapper::after, .cd-horizontal-timeline .events-wrapper::before {
  /* these are used to create a shadow effect at the sides of the timeline */
  content: '';
  position: absolute;
  z-index: 2;
  top: 0;
  height: 100%;
  width: 20px;
}
.cd-horizontal-timeline .events-wrapper::before {
  left: 0;
  background-image: -webkit-linear-gradient( left , #f8f8f8, rgba(248, 248, 248, 0));
  background-image: linear-gradient(to right, #f8f8f8, rgba(248, 248, 248, 0));
}
.cd-horizontal-timeline .events-wrapper::after {
  right: 0;
  background-image: -webkit-linear-gradient( right , #f8f8f8, rgba(248, 248, 248, 0));
  background-image: linear-gradient(to left, #f8f8f8, rgba(248, 248, 248, 0));
}
.cd-horizontal-timeline .events {
  /* this is the grey line/timeline */
  position: absolute;
  z-index: 1;
  left: 0;
  top: 49px;
  height: 2px;
  /* width will be set using JavaScript */
  background: #dfdfdf;
  -webkit-transition: -webkit-transform 0.4s;
  -moz-transition: -moz-transform 0.4s;
  transition: transform 0.4s;
}
.cd-horizontal-timeline .filling-line {
  /* this is used to create the green line filling the timeline */
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #7b9d6f;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -ms-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}
.cd-horizontal-timeline .events a {
  position: absolute;
  bottom: 0;
  z-index: 2;
  text-align: center;
  font-size: 1.3rem;
  padding-bottom: 15px;
  color: #383838;
  /* fix bug on Safari - text flickering while timeline translates */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
.cd-horizontal-timeline .events a::after {
  /* this is used to create the event spot */
  content: '';
  position: absolute;
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: -5px;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  border: 2px solid #dfdfdf;
  background-color: #f8f8f8;
  -webkit-transition: background-color 0.3s, border-color 0.3s;
  -moz-transition: background-color 0.3s, border-color 0.3s;
  transition: background-color 0.3s, border-color 0.3s;
}
.no-touch .cd-horizontal-timeline .events a:hover::after {
  background-color: #7b9d6f;
  border-color: #7b9d6f;
}
.cd-horizontal-timeline .events a.selected {
  pointer-events: none;
}
.cd-horizontal-timeline .events a.selected::after {
  background-color: #7b9d6f;
  border-color: #7b9d6f;
}
.cd-horizontal-timeline .events a.older-event::after {
  border-color: #7b9d6f;
}
@media only screen and (min-width: 1100px) {
  .cd-horizontal-timeline {
    margin: 6em auto;
  }
  .cd-horizontal-timeline::before {
    /* never visible - this is used in jQuery to check the current MQ */
    content: 'desktop';
  }
}

.cd-timeline-navigation a {
  /* these are the left/right arrows to navigate the timeline */
  position: absolute;
  z-index: 1;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 34px;
  width: 34px;
  border-radius: 50%;
  border: 2px solid #dfdfdf;
  /* replace text with an icon */
  overflow: hidden;
  color: transparent;
  text-indent: 100%;
  white-space: nowrap;
  -webkit-transition: border-color 0.3s;
  -moz-transition: border-color 0.3s;
  transition: border-color 0.3s;
}
.cd-timeline-navigation a::after {
  /* arrow icon */
  content: '';
  position: absolute;
  height: 16px;
  width: 16px;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url(../img/cd-arrow.svg) no-repeat 0 0;
}
.cd-timeline-navigation a.prev {
  left: 0;
  -webkit-transform: translateY(-50%) rotate(180deg);
  -moz-transform: translateY(-50%) rotate(180deg);
  -ms-transform: translateY(-50%) rotate(180deg);
  -o-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg);
}
.cd-timeline-navigation a.next {
  right: 0;
}
.no-touch .cd-timeline-navigation a:hover {
  border-color: #7b9d6f;
}
.cd-timeline-navigation a.inactive {
  cursor: not-allowed;
}
.cd-timeline-navigation a.inactive::after {
  background-position: 0 -16px;
}
.no-touch .cd-timeline-navigation a.inactive:hover {
  border-color: #dfdfdf;
}

.cd-horizontal-timeline .events-content {
  position: relative;
  width: 100%;
  margin: 2em 0;
  overflow: hidden;
  -webkit-transition: height 0.4s;
  -moz-transition: height 0.4s;
  transition: height 0.4s;
}
.cd-horizontal-timeline .events-content li {
  position: absolute;
  z-index: 1;
  width: 100%;
  left: 0;
  top: 0;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
  padding: 0 5%;
  opacity: 0;
  -webkit-animation-duration: 0.4s;
  -moz-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}
.cd-horizontal-timeline .events-content li.selected {
  /* visible event content */
  position: relative;
  z-index: 2;
  opacity: 1;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
.cd-horizontal-timeline .events-content li.enter-right, .cd-horizontal-timeline .events-content li.leave-right {
  -webkit-animation-name: cd-enter-right;
  -moz-animation-name: cd-enter-right;
  animation-name: cd-enter-right;
}
.cd-horizontal-timeline .events-content li.enter-left, .cd-horizontal-timeline .events-content li.leave-left {
  -webkit-animation-name: cd-enter-left;
  -moz-animation-name: cd-enter-left;
  animation-name: cd-enter-left;
}
.cd-horizontal-timeline .events-content li.leave-right, .cd-horizontal-timeline .events-content li.leave-left {
  -webkit-animation-direction: reverse;
  -moz-animation-direction: reverse;
  animation-direction: reverse;
}
.cd-horizontal-timeline .events-content li > * {
  max-width: 600px;
  margin: 0 auto;
}
.cd-horizontal-timeline .events-content h2 {
  font-weight: bold;
  font-size: 2.0rem;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  line-height: .8;
}
.cd-horizontal-timeline .events-content em {
  display: block;
  font-style: italic;
  margin: 10px auto;
}
.cd-horizontal-timeline .events-content em::before {
  content: '- ';
}
.cd-horizontal-timeline .events-content p {
  font-size: 1.4rem;
  color: #959595;
}
.cd-horizontal-timeline .events-content em, .cd-horizontal-timeline .events-content p {
  line-height: 1.6;
}
@media only screen and (min-width: 768px) {
  .cd-horizontal-timeline .events-content h2 {
    font-size: 6rem;
  }
  .cd-horizontal-timeline .events-content em {
    font-size: 2rem;
  }
  .cd-horizontal-timeline .events-content p {
    font-size: 1.5rem; /*controls the size of text */
  }
}

@-webkit-keyframes cd-enter-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
  }
}
@-moz-keyframes cd-enter-right {
  0% {
    opacity: 0;
    -moz-transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -moz-transform: translateX(0%);
  }
}
@keyframes cd-enter-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }
}
@-webkit-keyframes cd-enter-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
  }
}
@-moz-keyframes cd-enter-left {
  0% {
    opacity: 0;
    -moz-transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -moz-transform: translateX(0%);
  }
}
@keyframes cd-enter-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }
}


/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/








